modules = ["nodejs-20", "python-3.11"]

[[ports]]
localPort = 5000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 8000

[[ports]]
localPort = 20857
externalPort = 80

[agent]
expertMode = true
